/*
    COLOR
*/

$colors: (
  accent: (
    300: #DF4040,
    400: #9B2A2A,
  ),
  tip: (
    300: #F8EED2,
    400: #E1CB88,
    500: #513B00,
  ),
  link: (
    300: #FFE6CD,
    400: #F3B16E,
    500: #492515,
  ),
  greyscale: (
    100: #fff,
    200: #EBEBEB,
    300: #C4C4C4,
    400: #9C9C9C,
    500: #525252,
    600: #000,
  )
);


/* BREAKPOINTS */
$break-mobile: 840px;
$break-width: 1200px;

/*
  FONTS
*/

// Family
$font-family-main: "Poppins", sans-serif;

// Line height
$font-line-height-s: 140%;
$font-line-height-m: 150%;

// Sizes
$fontSize: (
  body: (
    xs: rem(12),
    s: rem(14),
    m: rem(16),
    l: rem(18),
    xl: rem(20)
  ),
  title: (
    m: rem(22),
    l: rem(24),
  )
);

// Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

/*
    Radii
*/
$radii-m: 20px;

/*
  Margins
*/
$page-margin: 20px;

/* 
  Icons
*/
$icon-size-s: 16px;
$icon-size-m: 20px;
$icon-size-l: 24px;
$icon-size-xl: 28px;
$icon-size-xxl: 34px;
